scala-learning/.idea
scala-learning/target
scala-learning/project/target

SlickExmple2/.idea
SlickExample2/target
SlickExample2/project/target

WebApi/.idea
WebApi/target
WebApi/project/target

WebApiCreate/.idea
WebApiCreate/target
WebApiCreate/project/target


JsonExamples/.idea
JsonExamples/target
JsonExamples/project/target


